// SPDX-License-Identifier: GPL-2.0
/*
 * Raspberry Pi 7-inch DSI panel U-Boot overlay for J722S EVM
 * Copyright (C) 2026 Texas Instruments Incorporated - https://www.ti.com/
 */

/ {
	bridge_reg: bridge-regulator {
		bootph-all;
		compatible = "regulator-fixed";
		regulator-name = "bridge-reg";
		gpio = <&display_reg 0 0>;
		enable-active-high;
	};

	rpi_dsi_panel: panel-dsi {
		bootph-all;
		compatible = "raspberrypi,7inch-dsi", "simple-panel";
		status = "okay";

		ports {
			bootph-all;
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				bootph-all;
				reg = <0>;
				panel_in_dsi: endpoint {
					bootph-all;
					remote-endpoint = <&tc358762_out>;
				};
			};
		};

		display-timings {
			bootph-all;
			timing0: timing@0 {
				bootph-all;
				clock-frequency = <28569>;
				hactive = <800>;
				vactive = <480>;
				hback-porch = <80>;
				hfront-porch = <48>;
				hsync-len = <32>;
				vback-porch = <6>;
				vfront-porch = <3>;
				vsync-len = <7>;
				hsync-active = <0>;
				vsync-active = <0>;
			};
		};
	};
};

&main_i2c1 {
	bootph-all;

	display_reg: regulator@45 {
		bootph-all;
		compatible = "raspberrypi,7inch-touchscreen-panel-regulator";
		reg = <0x45>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

/* tidss dss1: UCLASS_VIDEO entry point for the DSI pipeline */
&dss1 {
	bootph-all;
	status = "okay";
	/delete-property/ pinctrl-names;
	/delete-property/ pinctrl-0;
};

&dss1_ports {
	bootph-all;

	/* VP1: DSI output to dsi0 */
	port@1 {
		bootph-all;
		reg = <1>;
		dss1_dpi1_out: endpoint {
			bootph-all;
			remote-endpoint = <&dsi0_in>;
		};
	};
};

&exp2 {
	bootph-all;
	p00-hog {
		bootph-all;
		gpio-hog;
		gpios = <0 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "DSI_Mux_SEL_2";
	};
};

&dsi_edp_bridge {
	status = "disabled";
};

&dphy_tx0 {
	bootph-all;
	status = "okay";
};

&dsi0 {
	bootph-all;
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	ports {
		bootph-all;
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			bootph-all;
			reg = <0>;
			dsi0_out: endpoint {
				bootph-all;
				remote-endpoint = <&tc358762_in>;
			};
		};

		port@1 {
			bootph-all;
			reg = <1>;
			dsi0_in: endpoint {
				bootph-all;
				remote-endpoint = <&dss1_dpi1_out>;
			};
		};
	};

	tc358762_bridge: bridge@0 {
		bootph-all;
		compatible = "toshiba,tc358762";
		reg = <0>;
		vddc-supply = <&bridge_reg>;
		led-gpios = <&display_reg 2 0>;

		ports {
			bootph-all;
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				bootph-all;
				reg = <0>;
				tc358762_in: endpoint {
					bootph-all;
					remote-endpoint = <&dsi0_out>;
				};
			};

			port@1 {
				bootph-all;
				reg = <1>;
				tc358762_out: endpoint {
					bootph-all;
					remote-endpoint = <&panel_in_dsi>;
				};
			};
		};
	};
};
