config PHYTEC_SOM_DETECTION
	bool "Support SoM detection for Phytec platforms"
	help
	   Support of I2C EEPROM based SoM detection.

config PHYTEC_IMX8M_SOM_DETECTION
	bool "Support SoM detection for i.MX8M Phytec platforms"
	depends on (TARGET_PHYCORE_IMX8MM || TARGET_PHYCORE_IMX8MN || TARGET_PHYCORE_IMX8MP)
	select PHYTEC_SOM_DETECTION
	help
	   Support of I2C EEPROM based SoM detection. Supported
	   for PHYTEC i.MX8M/i.MX8MM/i.MX8MN/i.MX8MP boards.

config PHYTEC_AM57_SOM_DETECTION
	bool "Support SoM detection for AM57 Phytec platforms"
	depends on (TARGET_PHYCORE_AM57X)
	select PHYTEC_SOM_DETECTION
	imply SPL_CRC8
	help
	   Support of I2C EEPROM based SoM detection. Supported
	   for PHYTEC AM57xx boards.

config PHYTEC_AM57_EEPROM_APIV0
	bool "Support AM57 EEPROM APIv0 on AM57 Phytec platforms"
	depends on (TARGET_PHYCORE_AM57X && PHYTEC_AM57_SOM_DETECTION)
	default y
	help
	   Support SoM detection on PHYTEC AM57x platforms flashed with
	   AM57x EEPROM APIv0 (pre-PD20.1.0 releases).

config PHYTEC_AM62_SOM_DETECTION
	bool "Support SoM detection for AM62 Phytec platforms"
	depends on (TARGET_PHYCORE_AM62X_A53 || TARGET_PHYCORE_AM62X_R5)
	select PHYTEC_SOM_DETECTION
	help
	   Support of I2C EEPROM based SoM detection. Supported
	   for PHYTEC AM62xx boards.

config PHYTEC_AM64_SOM_DETECTION
	bool "Support SoM detection for AM64 Phytec platforms"
	depends on (TARGET_PHYCORE_AM64X_A53 || TARGET_PHYCORE_AM64X_R5)
	select PHYTEC_SOM_DETECTION
	help
	   Support of I2C EEPROM based SoM detection. Supported
	   for PHYTEC AM64xx boards.
