CONFIG_SPL_OS_BOOT=y
CONFIG_SPL_OS_BOOT_SECURE=y

CONFIG_SPL_GZIP=y
CONFIG_SPL_FS_EXT4=y
CONFIG_SYS_MMCSD_FS_BOOT_PARTITION=2
CONFIG_SPL_FS_LOAD_KERNEL_NAME="boot/fitImage"

# Disable all unsupported boot media to save space
# CONFIG_SPL_SYS_MMCSD_RAW_MODE is not set
# CONFIG_SPL_SPI_FLASH_SUPPORT is not set
# CONFIG_SPL_YMODEM_SUPPORT is not set
# CONFIG_SUPPORT_EMMC_BOOT is not set
# CONFIG_SPL_NAND_SUPPORT is not set
# CONFIG_SPL_NOR_SUPPORT is not set
# CONFIG_SPL_RAM_DEVICE is not set
# CONFIG_SPL_FS_FAT is not set
# CONFIG_SPL_DFU is not set
# CONFIG_SPL_MTD is not set
