#
# Copyright (C) 2023 PHYTEC Messtechnik GmbH
# Author: Dominik Haller <d.haller@phytec.de>
#
# SPDX-License-Identifier:     GPL-2.0+
#

choice
	prompt "PHYTEC phyCORE-AM68x/TDA4x based boards"
	optional

config TARGET_PHYCORE_AM68X_A72
	bool "PHYTEC phyCORE-AM68x (A72 processor)"
	select ARM64
	select SYS_DISABLE_DCACHE_OPS
	select BINMAN

config TARGET_PHYCORE_AM68X_R5
	bool "PHYTEC phyCORE-AM68x (R5 processor)"
	select CPU_V7R
	select SYS_THUMB_BUILD
	select K3_LOAD_SYSFW
	select RAM
	select SPL_RAM
	select K3_DDRSS
	select BINMAN
	imply SYS_K3_SPL_ATF

endchoice

if TARGET_PHYCORE_AM68X_A72

config SYS_BOARD
       default "phycore_am68x"

config SYS_VENDOR
       default "phytec"

config SYS_CONFIG_NAME
       default "phycore_am68x"

source "board/phytec/common/Kconfig"

endif

if TARGET_PHYCORE_AM68X_R5

config SYS_BOARD
       default "phycore_am68x"

config SYS_VENDOR
       default "phytec"

config SYS_CONFIG_NAME
       default "phycore_am68x"

source "board/phytec/common/Kconfig"

endif

config PHYCORE_AM68X_RAM_SIZE_FIX
        bool "Set phyCORE-AM68x RAM size fix instead of detecting"
        default false
        help
          RAM size is automatic being detected with the help of
          the EEPROM introspection data. Set RAM size to a fix value
          instead.

choice
        prompt "phyCORE-AM68x RAM size"
        depends on PHYCORE_AM68X_RAM_SIZE_FIX
        default PHYCORE_AM68X_RAM_SIZE_2X2GB

config PHYCORE_AM68X_RAM_SIZE_1X2GB
	bool "1X2GB RAM"
	help
	   Set RAM size fix to 2GB in 1x2GB configuration for phyCORE-AM68x.

config PHYCORE_AM68X_RAM_SIZE_2X2GB
        bool "2X2GB RAM"
        help
          Set RAM size fix to 4GB in 2x2GB configuration for phyCORE-AM68x.

config PHYCORE_AM68X_RAM_SIZE_2X4GB
        bool "2X4GB RAM"
        help
          Set RAM size fix to 8GB in 2x4GB configuration for phyCORE-AM68x.

endchoice
