#
# Copyright (C) 2023 PHYTEC Messtechnik GmbH
# Author: Dominik Haller <d.haller@phytec.de>
#
# SPDX-License-Identifier:     GPL-2.0+
#

choice
	prompt "PHYTEC phyCORE-AM68x/TDA4x based boards"
	optional

config TARGET_PHYCORE_AM68X_A72
	bool "PHYTEC phyCORE-AM68x (A72 processor)"
	select ARM64
	select SOC_K3_J721S2
	select SYS_DISABLE_DCACHE_OPS

config TARGET_PHYCORE_AM68X_R5
	bool "PHYTEC phyCORE-AM68x (R5 processor)"
	select CPU_V7R
	select SYS_THUMB_BUILD
	select SOC_K3_J721S2
	select K3_LOAD_SYSFW
	select RAM
	select SPL_RAM
	select K3_DDRSS
	imply SYS_K3_SPL_ATF

endchoice

if TARGET_PHYCORE_AM68X_A72

config SYS_BOARD
       default "phycore_am68x"

config SYS_VENDOR
       default "phytec"

config SYS_CONFIG_NAME
       default "phycore_am68x"

source "board/ti/common/Kconfig"
source "board/phytec/common/Kconfig"

endif

if TARGET_PHYCORE_AM68X_R5

config SYS_BOARD
       default "phycore_am68x"

config SYS_VENDOR
       default "phytec"

config SYS_CONFIG_NAME
       default "phycore_am68x"

config SPL_LDSCRIPT
	default "arch/arm/mach-omap2/u-boot-spl.lds"

source "board/ti/common/Kconfig"
source "board/phytec/common/Kconfig"

endif
